{% extends 'base.html' %}
{% block title %}Contact Us | Sri Vijaya Durga Milk Agency{% endblock %}

{% block content %}
<section class="section py-5 mt-5">
  <div class="container">

    <h2 class="text-center mb-4">Contact Us</h2>

    <p class="text-center">Feel free to reach us for milk supply & service enquiries</p>

    <div class="text-center mt-3">
      <p><strong>Sri Vijaya Durga Milk Agency</strong></p>
      <p>
        10-92, Main Road Gundugolanu<br>
        Near Santa Market, Bhimadolu<br>
        Eluru, Andhra Pradesh – 534427
      </p>

      <p><strong>Phone:</strong> +91 9392890375</p>
      <p><strong>Email:</strong> svdagencies12@gmail.com</p>

      <p><strong>Working Hours:</strong><br>
        Monday – Sunday : 5:00 AM – 9:00 PM
      </p>
    </div>

  </div>
</section>
{% endblock %}
