{% extends "base.html" %}
{% load static %}
{% block title %}Contact Us | Sri Vijaya Durga Milk Agency{% endblock %}

{% block content %}
<section class="py-5">
  <div class="container" style="margin-top: 90px;">

    <div class="card shadow-sm border-1 p-2 p-md-5">

      <h2 class="fw-bold text-center mb-4">Contact Us</h2>

      <p class="text-center mb-4">
        Get in touch with us for milk delivery, wholesale supply, orders or support.
      </p>

      <h5 class="fw-bold">Registered Business Address</h5>
      <p>
        Sri Vijaya Durga Milk Agency<br>
        10-92, Main Road Gundugolanu,<br>
        Near Santa Market, Bhimadolu,<br>
        Eluru, Andhra Pradesh – 534427
      </p>

      <h5 class="fw-bold mt-3">Phone</h5>
      <p>+91 9392890375</p>

      <h5 class="fw-bold mt-3">Email</h5>
      <p>svdagencies12@gmail.com</p>

      <h5 class="fw-bold mt-3">Working Hours</h5>
      <p>
        Monday – Sunday<br>
        5:00 AM to 9:00 PM
      </p>

      <p class="mb-0">
        We ensure quick response and customer-friendly service at all times.
      </p>

    </div>
  </div>
</section>
{% endblock %}
