<html>
<head>
    <script src="https://securegw-stage.paytm.in/merchantpgpui/checkoutjs/merchants/{{ mid }}.js"></script>
</head>

<body onload="onScriptLoad()">

<h2>Opening Paytm...</h2>

<script>
function onScriptLoad() {
    var config = {
        "root": "",
        "flow": "DEFAULT",
        "data": {
            "orderId": "{{ order_id }}",
            "token": "{{ txnToken }}",
            "tokenType": "TXN_TOKEN",
            "amount": "1.00"
        },
        "merchant": {
            "mid": "{{ mid }}",
            "redirect": true
        }
    };

    window.Paytm.CheckoutJS.init(config).then(function () {
        window.Paytm.CheckoutJS.invoke();
    });
}
</script>

</body>
</html>